[2019-06-10 05:33] freeseacher opened #1 "Sort happens only once in editor life"
Hi.
I just installed vscode because of your extension.
Press yaml sort and vualya i got sorted kubenetes manifest. Then i open next file and try to make the trick again.
Editor say `Keys resorted successfully` but really nothing happens.
I close vscode and open it again.
This help for another file :)

~Can you please an option to restart vscode after successfull sort automaticaly?~
Is there anythi

[2019-06-10 05:46] freeseacher commented on #1
oh! i've found dev tools. it say
stack trace: Error: TextEditor#edit not possible on closed editors

[2019-06-15 19:04] pascalre commented on #1
@freeseacher thanks for this issue and please feel free to update your local extension to version 1.0.1 which solves this bug.

[2019-06-15 19:04] #1 closed

[2019-06-15 20:43] freeseacher commented on #1
tnx!
update helped. now sorting happens several times but in the end it still stopes
[code]

[2019-06-15 21:23] freeseacher opened #2 "Sort all files in directory"
I was found plugin usefull but found that i'm stuck in that workflow
open file press ctrl+shift+p select most last used command and press enter.
i was tied to do this on 5-th file and i got much more then thousand.

can you please add option on directory level in left menu to sort all files in directory

[2019-06-15 21:34] freeseacher opened #3 "[feature request] kubernetis friendly sort"
Can you please add an option to sort options in a way that can be kubernetes manifests friendly.

by meaning so i am talking about sorting files like configmaps. let me describe problem. most of kubernets files starts with
[code]
and so on. there can be clearly seen `api version` and `kind` also `metadata`. that info is pretty useful and have them in one place.

but not for configmaps
they are lac

[2019-06-15 22:00] freeseacher opened #4 "[bug] do not delete commets on sorting"
Current version removes commets on sorting. that is not nice.
please do not remove them

[2019-06-16 00:27] utilityboy opened #5 "Allow for configuration of line length"
Thanks for the extension. I've kept Atom around specifically to sort a few files.

Would you consider either defaulting to a long line length on sort ( > 500), or potentially adding a configuration point for it?

[code]

I'm happy to work up a PR for it, though I've never authored an extension so I'm not sure what's involved.

[2019-06-17 10:45] #5 closed

[2019-06-17 10:49] pascalre commented on #5
@utilityboy thanks for this issue. It was just a small change so I quickly fixed this on my own. Feel free to update to 1.1.0

[2019-06-17 10:51] pascalre commented on #1
@freeseacher I can't reproduce this issue on my machine. Can you provide a way to reproduce it?

[2019-06-20 10:19] pascalre commented on #4
@freeseacher the js-yaml library which this extension uses currently does not provide a way to sort YAML without losing comments.

[2019-06-20 10:19] #4 closed

[2019-06-24 20:49] pascalre commented on #3
@freeseacher I wrote a solution for this and am going to merge this by time. Did I got you right, that you want the keywords to be in the following order: `apiVersion`, `kind`, `metadata`, `spec`, `data`? Is there any other top level keyword that can occur in a configmap?

[2019-06-24 20:51] freeseacher commented on #3
as for now i have no idea about additional. but that would be a good start

[2019-06-25 04:26] utilityboy commented on #5
That's great @pascalre. Thanks so much!

[2019-06-25 21:58] #3 closed

[2019-06-25 22:04] pascalre commented on #3
@freeseacher I just published 1.2.0 which should solve this issue. Can you confirm everything works as expected?

[2019-06-27 20:47] freeseacher commented on #3
yep! thx my configmap looks brilliant!
![image](https://user-images.githubusercontent.com/289277/60299628-d5c0a780-9935-11e9-924e-5a1dd077a6fa.png)

[2019-06-28 13:06] pascalre commented on #3
You're welcome! I would be glad if you could leave a honest review on the marketplace.

[2019-08-30 23:04] Ryder17z opened #6 "fails on any valid line, complaining on closing"
this was the only reason why downloaded vscode in the first place...

[2019-09-14 15:40] prokher opened #7 "Keys could not be resorted: expected a single document in the stream, but found more"
Unfortunately, this plugin does not support YAML-documents with several YAMLs inside separated by `---`. It is quite typical to have several Kubernetes manifests in a single YAML-file. For example, we have a lot of manifests with both `kind: Service` & `kind: Deployment` inside. Plugin does not work on these files. It would be nice to support this kind of files.

[2019-09-27 15:09] pascalre commented on #7
@prokher I like this issue. It would definitely be a nice thing to support such files. It does not seem to be a big change in the code. I will work on this, when I got some time.

[2019-09-27 15:10] pascalre commented on #6
@Ryder17z can you provide an example document, which causes the plugin to fail?

[2019-09-29 00:31] #7 closed

[2019-09-29 01:04] pascalre commented on #7
@prokher please update to version 1.3.0. Problem should be solved.

[2019-09-30 19:01] pascalre commented on #2
Hi @freeseacher I think it's very hard to implement this, I don't even know if there is an API to see on which folder in the menu the click was executed. When I got some time I can try to add this option. Feel free to contribute.

[2019-10-05 13:13] prokher commented on #7
Thank you for the update. It now adds extra `---` to the beginning to each sorted file, even if there is only one document inside.

[2019-10-05 15:16] pascalre commented on #7
I added the setting “vscode-yaml-sort.useLeadingDashes„ with a default value of „true“. You can change this to „false“ to avoid the leading dashes.

[2019-10-07 07:07] prokher opened #8 "[feature request] Configurable manual sort order"
Dear @pascalre ,

I would like to ask if it is possible to add a configurable option with witch I could manually specify sort order for some keys. Let me explain. The main reason I use YAML sort plugin if to reduce difficulties during merging YAML-configuration across different git branches. It is much easier to merge when the order of keys is the same in the conflicting branches. Most of the YAML

[2019-10-08 22:14] pascalre commented on #8
Hi @prokher,
I like this issue. I will add an option to configure a list of keywords and add an extra command (e. g. "Custom sort YAML").

[2019-10-10 21:16] pascalre commented on #8
Hi @prokher I am currently working on this feature.
Btw: I would really appreciate a rating on the marketplace for the extension. 👍

[2019-10-11 18:18] #8 closed

[2019-10-11 18:22] pascalre commented on #8
@prokher 2.0.0 contains the feature!

[2019-10-21 21:09] prokher commented on #8
Dear @pascalre when I try to setup a ... I get the following, I suppose it works fine, but message looks weird. What am I doing wrong?

<img width="393" alt="image" src="https://user-images.githubusercontent.com/399393/67243202-b78c3380-f45f-11e9-930d-5959cffc6539.png">

[2019-10-22 20:42] pascalre commented on #8
Hi @prokher this was a configuration mistake. I fixed the wrong expected type in 02aa0030c455811c99993a5a9aea431a629544dc. Update 2.0.1 is available on the marketplace.

[2019-11-17 02:47] Ryder17z commented on #6
`{
    "Objects": {
        "Object": [
            {
                "Duration": {
                    "_numTurns": "-1"
                },
                "EnemyTag": {
                    "_text": "Enemy Creatures cost 1 less credit to play."
                },
                "GlobalModifiers": {
                    "Self": {
                        "Stat": {
                            "_amou

[2019-11-17 02:48] Ryder17z commented on #6
[code]

[2019-11-17 02:49] Ryder17z commented on #6
When this file is converted to yaml, your sorting tool does not want to deal with it.

[2019-11-17 09:01] pascalre commented on #6
@Ryder17z can you provide the converted yaml?

[2019-11-17 17:06] Ryder17z commented on #6
Sorry, I lost it. the other file that also failed was this one:
[sample.yml.txt](https://github.com/pascalre/vscode-yaml-sort/files/3855855/sample.yml.txt)

[2019-11-18 22:34] pascalre commented on #6
@Ryder17z the delimiters in the given yaml cause the problem. Currently it is not possible to use delimiters with comments or other text in the same line. I will address this issue in the branch [issue-#6](https://github.com/pascalre/vscode-yaml-sort/tree/issue-%236).

[2019-12-01 09:46] pascalre commented on #6
@Ryder17z problem is solved in version 2.3.0

[2019-12-01 09:46] #6 closed

[2020-02-12 14:28] svyotov opened #9 "[bug] Sorting tabs indented yaml removes code"
Using this tool on visual studio, resulted in all the YAML being deleted.
VS code reported that there was an internal bug in the YAML, specifically that there was a duplicated key (there was not, all the parent keys are unique).
If there are such issues, it should keep the code as is before the sort.

Update: after debugging I deducted that the actual issue was that the YAML was tab formated.

Sam

[2020-02-13 18:53] RodriguezLucha opened #10 "[feature request] Use custom sort recursively on the whole file"
Can the custom sort order be extended so that it works recursively on the whole file? I do see that it is sorting the whole file but the custom sort order seem to be only applied at the top level?

Im using this to get a custom sort on a swagger yml file:

For example:

[code]

In the meantime I did this:
https://gist.github.com/RodriguezLucha/1dda9637d32fc085533774cf63dd3c29

[2020-04-20 20:08] chimon2000 opened #11 "[feature request] support line breaks"
Currently when yaml is sorted, line breaks are removed.  It'd be nice to either maintain line breaks or have a config option to insert line breaks between keywords.  For instance

[code]

instead of

[code]

[2020-04-24 08:46] ssbarnea opened #12 "[bug] trying to sort a nested dictionary results in removing it completely"
Apparently the only option to sort is to sort root level keys as for others this extension removes the lines.

[code]

I am not sure what is confusing the sorting but I hope to be fixed as on big dics is very useful.

[2020-05-30 02:30] diepes opened #13 "[bug] sort drops value from key, when key in custom sort list"
Sorting snippet below with Custom sort list, where "proxyext_urls" is in custom list, looses the "b"

[code]
ctrl+shift+p
custom sort 3

[code]

[2020-09-26 19:25] pascalre commented on #12
This is happening, because your yaml document is invalid. Under the keyword 'package-list-installed' you are using two times the keyword 'cmd' which is forbidden. In [1c8e6da](https://github.com/pascalre/vscode-yaml-sort/commit/1c8e6da3d531f4689a4f6bdc81fe42d064b22b93) I added a validation before sorting a document.

[2020-09-26 19:25] #12 closed

[2020-09-26 19:55] #9 closed

[2020-09-26 19:55] #13 closed

[2020-09-26 19:58] pascalre commented on #13
@diepes please check out version 2.3.2 of this extension which fixes this issue

[2020-09-26 19:58] pascalre commented on #9
@svyotov please check out version 2.3.2 of this extension which fixes this issue

[2020-09-29 07:08] pascalre commented on #11
@chimon2000 please check out version 2.6.0 of the extension, which makes it possible to add line breaks between top level keywords. To do so, set `"vscode-yaml-sort.addNewLineAfterTopLevelKey": true` and sort the document.
If you like the extension please feel free to leave a rating in the marketplace.

[2020-09-29 07:08] #11 closed

[2020-10-14 15:29] pascalre commented on #10
Hello @RodriguezLucha , thank you for this issue and the gist you did in the meantime. I am just implementing this feature for the next release, which will come out in the following days.

[2020-10-15 21:33] pascalre commented on #10
Seems like version 2.7.0 still has some troubles with the recursive sort. Will reopen this issue and investigate what's the problem.

[2020-10-24 11:54] #10 closed

[2020-10-30 13:00] chrisliness opened #16 "Unable to sort a multi document yaml file"
This feature use to work on previous versions however it seems to be broken now.

VSCode error -> YAML is invalid: expected a single document in the stream, but found more

Plugin Version: v2.7.1 (rolling back to v2.6.0 worked fine)
Example yaml:

[example.yml.txt](https://github.com/pascalre/vscode-yaml-sort/files/5465235/example.yml.txt)

[2020-10-31 13:11] pascalre commented on #16
Hello @chrisliness I will be working on this issue ASAP

[2020-10-31 22:40] #16 closed

[2020-11-02 09:49] chrisliness commented on #16
Thanks for fixing.

[2020-12-06 07:55] diepes opened #17 "Force quotes on strings when sorting"
When sorting a yaml block, strings that were double quoted gets stripped of quotes.

Before
[code]

After

[code]

[2020-12-10 15:15] pascalre commented on #17
Will be working on this, when an upcoming release of js-yaml contains [7b256d7](https://github.com/nodeca/js-yaml/commit/7b256d7612a4c29cdf5dfd48a15e01c8dbbb5291).

[2020-12-21 15:43] eherrerosj opened #19 "Commented lines are being removed"
IMO, there should be a config option to allow the user choose whether or not the sorter should remove commented lines. Eg, in a list of items, the user might comment/uncomment items to experiment stuff or she might add important information as a line comment

[2020-12-21 15:47] eherrerosj commented on #19
Just saw [this](https://github.com/pascalre/vscode-yaml-sort/issues/4#issuecomment-503969855). A pitty, not useful for me then. Thanks for the work anyways! 👍

[2020-12-21 15:47] #19 closed

[2021-01-08 21:55] kitos9112 commented on #17
The extension itself does the job flawlessly, however, I cannot widely use it as much as I wanted due to the vast majority of my YAML manifests rely on comments quite heavily!

Having [7b256d7 ](https://github.com/nodeca/js-yaml/commit/7b256d7612a4c29cdf5dfd48a15e01c8dbbb5291) implemented as part of v4.0.0 would definitely boost this feature 👍🏼

[2021-01-27 15:31] pungggi opened #20 "Sort by Value"
I think this is a feature request:

The extension sorts by Key. But I have not seen the possibility to sort by Value.

Do you accept merge request for this?

[2021-01-27 21:02] #17 closed

[2021-01-27 21:11] pascalre commented on #20
@pungggi I will not work on this issue, since it would take a lot of effort for a very rare use case. Of course you can feel free to implement this issue and come up with a pull request.

[2021-01-27 21:11] #20 closed

[2021-01-28 11:54] rswrz opened #21 "Add new line after 2nd/Nth level key"
First of all, thanks for this great extension. I'm using this to sort my AWS CloudFormation Stacks.

For a better readability of big files it would be great to add empty lines after second-level keys, too - like `vscode-yaml-sort.addNewLineAfterTopLevelKey` does for first level. Maybe it could be even possible to configure with an `int` value until which level a new line will be added.

[2021-01-29 10:46] Me1kaa opened #22 "Is it possible to apply sorting to ALL selected files?"
Hello! I have a big project, with about 100+ YAML files, and need to sort them all, is it possible to do with a plugin?

[2021-01-31 00:35] #21 closed

[2021-01-31 00:38] pascalre commented on #21
@rswrz I just released version 3.0.0 which supports the setting `emptyLinesUntilLevel`. When you set this two `2` there will be added new lines before all keywords on level 2.
If you like this extension, I really would be happy about a rating on the marketplace.

[2021-01-31 09:46] pascalre commented on #22
Hello @Me1kaa currently this is not possible to do with the plugin. The issue [2](https://github.com/pascalre/vscode-yaml-sort/issues/2) already requested this feature. I will reopen the old issue and will consider working on it.

[2021-01-31 09:46] #22 closed

[2021-01-31 10:00] Me1kaa commented on #22
@pascalre Thank you for your answer. Will be waiting for that issue is ready.

[2021-02-04 20:56] #2 closed

[2021-02-06 08:27] pascalre commented on #22
@Me1kaa version 3.1.0 can sort all yaml files in a directory.

[2021-02-24 21:09] robbrad opened #23 "CloudFormation Friendly"
What a great extension !

I would like the ability to sort AWS CloudFromation YAML e.g. https://raw.githubusercontent.com/awslabs/aws-cloudformation-templates/master/aws/solutions/CloudFrontCustomOriginLambda%40Edge/CloudFront.yaml

At the moment the Extension throws an error due to !Sub / !Join / !Ref Cloudformation functions - with Invalid Yaml (Maybe this validation could omit the validity chec

[2021-03-02 05:33] rswrz opened #24 "Unexpected date string format"
Hi and thanks again for this great extension.

I found out that a simple unquoted date string will be formatted into ISO 8601 Date and time string.

[code]
becomes
[code]
Is this a bug or a feature? My expected behavior is to keep the short date string even when unquoted.

[2021-03-02 22:36] #24 closed

[2021-03-02 22:50] pascalre commented on #24
In version 3.2.0 I added the setting `schema` with the default of `DEFAULT_SCHEMA`. You can set this to `CORE_SCHEMA` and this will solve your problems.
But anyway you should consider treating your dates as string and set the type either explicit or implicit (using quotes):
[code]

[2021-03-02 23:00] pascalre commented on #23
With version 3.2.0 I added the option to configure a `scheme`. I will expand this setting, so that you can use a CloudFormation schema.

[2021-03-03 19:31] #23 closed

[2021-03-03 19:33] pascalre commented on #23
@robbrad in version 3.3.0 it is possible to set `scheme` to `CLOUDFORMATION_SCHEMA`. This will support Cloudformation functions and will not break on yaml validation. But be careful: The yaml which you posted contains references. As I already mentioned in the [Readme](https://github.com/pascalre/vscode-yaml-sort/blob/master/README.md#known-problems) references are not working in this extension.

[2021-03-03 19:43] robbrad commented on #23
Amazing work! Thanks man!!

[2021-03-12 00:33] EspadaV8 opened #25 "Sort using localeCompare"
The sorting at the moment doesn't sort how you would normally expect strings to be sorted, e.g. in my YAML file I have `completedDate` and `completeTask` however, `completeTask` is sorted first because the `T` appears to come first compared to the `d`. This isn't how people would normally expect these to be sorted.

I think updating the sorting to `return a.localeCompare(b, locale)` would result i

[2021-03-13 19:37] pascalre commented on #25
@EspadaV8 I already knew about this behavior and yeah I think using `localCompare` will definitely be the better sorting algorithm. This feature will result in a new major version, since this is a breaking change in the main functionality. The configuration `locale` will let the user choose which locale to use.

[2021-03-13 19:44] #25 closed

[2021-03-14 04:42] EspadaV8 commented on #25
That's fantastic. Thank you 🙂

[2021-03-15 00:22] EspadaV8 commented on #25
I've just updated the extension but it doesn't seem to be sorting any differently. Not sure what's going on :thinking:

[2021-03-15 00:41] EspadaV8 commented on #25
Ahh, I've been using the `Sort YAML` command which seems to use the "normal" sorting method instead of using one of the `Custom Sort X` commands. It could be useful to prefix those with `YAML` since I only found out about those whilst looking through to code to see what was going on.

[2021-03-23 21:18] raballew opened #26 "Un-quoted "on" and "off" strings are quoted after sorting YAML"
When having keys and/or values like `on` and `off` within YAML files they get quoted when sorting the file. I expect this is due to the fact that in YAML 1.1 those keys evaluate to `true` or `false`. Anyway this has been dropped with YAML 1.2 and I would prefer using the latest specification instead of YAML 1.1.

The issue can easily be reproduced by sorting the following unsorted YAML file:

[cod

[2021-03-25 14:58] TayBill opened #27 "Not handling helm chart values references."
Consider this snippet:
apiVersion: keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  labels:
    app: clientsso
  name:  {{ .Values.ui.environment.keycloakClientId }}
  namespace:  {{ required "Keycloak namespace required" .Values.keycloak.namespace }}

If I use yamlsort on it, I get this:
---
apiVersion: keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  labels:
    app: clientsso
  name

[2021-04-21 19:53] freshbinding opened #28 "Mutil Level Sorting"
Is is possible to sort below the first level?

[2021-04-28 20:15] pascalre commented on #28
Yes it is possible to sort below the first level. When you use customSort, you can set the property `useCustomSortRecursively` to `true`. When this does not solve your problem, please explain in more detail what you are trying to do.

[2021-04-28 21:26] #26 closed

[2021-04-28 21:28] pascalre commented on #26
Feel free to update to latest version and use the setting `noCompatMode` with value `true`. This will fix your problems.

[2021-04-28 22:22] pascalre commented on #27
@TayBill this is an issue on the `js-yaml` library which is used in this project. I opened an [issue](https://github.com/nodeca/js-yaml/issues/620) on the project.

[2021-05-07 18:26] #28 closed

[2021-05-28 14:01] francesco-beccaria opened #29 "Support multiple yaml documents when formatting"
Hi,

I've seen you fixed the sorting on files with multiple documents separated with `---` (#7).

I'm seeing the same issue when using Format.

Any chance you could look into this?

Thank you,
Fran

[2021-06-02 08:50] Timmitry opened #30 "Use as formatter"
I wonder if it's possible to register this extension as a formatter for yaml files? When I'm in a .yml file in VSCode and run "Format Document", it tells me `There is no formatter for 'yaml' files installed.`.

Having this wonderful extension as a formatter would also allow me to configure that it auto-formats on save 🙃

[2021-06-05 14:52] vict0rsch commented on #4
For anyone coming around here: I just checked js-yaml still does not parse comments

[2021-06-12 10:07] jorneilander opened #31 "Add 'newLine' at end of file option"
Some coding conventions say that a newline must always be present at the end of a file. Sorting a YAML-file now removes any newlines, including the one at the end. Can it be made optional to add it?

[2021-06-12 10:25] jorneilander opened #32 "Add possibility to add specific custom sorts to file association"
I have FluxCD project which incorporates a lot of YAML files which require a lot more than three custom sort sets to properly manage. It would be awesome to add some pre-defined and/or array of custom sorts and specifically reference them via file name.

Example, the `.pre-commit.yaml` gets butchered, from:
[code]
to:
[code]

But the repositoy also contains `kustomization`-files, `K8S`-files, `Hom

[2021-06-17 20:48] pascalre commented on #30
Hey @Timmitry I just released version 4.2.0 which can be used as a formatter. You can format your files with the built in formatting shortcuts or just configure auto-format on save.
If you enjoy this extension I really would appreciate a rating on the Visual Studio Code Marketplace.

[2021-06-17 20:48] #30 closed

[2021-06-18 07:00] Timmitry commented on #30
@pascalre Nice, thanks a lot! Just tested it, works like a charm 👍 And I was glad to write my first rating ever in the marketplace for you ⭐⭐⭐⭐⭐

[2021-06-18 07:02] Timmitry commented on #31
@jorneilander At least as a workaround: I have configured the setting `"files.insertFinalNewline": true`, which always adds a newline when saving a document. This way, I never even noticed that this extension removes the final newline 🙃

[2021-06-22 21:12] pascalre commented on #31
@jorneilander I recommend using the solution @Timmitry proposed. Visual Studio Code already offers this configuration, so there is no need to implement it.

[2021-06-22 21:12] #31 closed

[2021-06-22 21:16] pascalre commented on #32
@jorneilander I think it's definitely a good idea to have more than three custom sorts, but I don't know yet how to implement it. Adding custom sort command based on a users configuration is (currently) not possible, because every command has to be exposed in `package.json`.

[2021-06-30 10:10] flyte opened #33 "Sort based on number/length of children"
Is it possible somehow to sort based on the number of lines taken up by children of a given key?

For example, this:

[code]

would sort as:

[code]

Although not shown here, it'd be helpful if this was supported recursively too.

The use case for this is to avoid putting small keys/values after large, extensively indented ones, like this:

[code]

[2021-07-03 13:36] ppuschmann opened #34 "Make formatter configurable"
Hi,

the automatic formatting of YAML-files is a great feature.
Working a lot with Ansible, there's YAML all over the place.

Unfortunately the updated plugin now "aggressively" removes empty lines,
quotes and curly-braces. (I guess the change was #30 )

Often it is a good idea to remove useless characters like quotes and curly-braces, I agree.
I think it would be nice to have these "cleanup" conf

[2021-07-10 19:37] #34 closed

[2021-07-10 19:41] pascalre commented on #34
Hi @ppuschmann please update to version 5.0.0. The yaml formatter is now disabled by default. If you need to enable the formatter, you can use the configuration `useAsFormatter`.

[2021-07-10 19:42] pascalre commented on #30
Hello @Timmitry,
in version 5.0.0 the yaml formatter is now disabled by default. If you need to enable the formatter, you can set the configuration `useAsFormatter` to `true`.

[2021-08-16 15:04] Dulanic opened #35 "emptyLinesUntilLevel doesn't work with keywords containing dashes"
Hello,

Love the extension! However, I have found it is not always consistent /w the emptyLinesUntilLevel settings. I haven't been able to identify the root cause thus far. I used this for sort my yaml and you can see how it is missing the nested line breaks on lines 33, 247, and 390.

Here is my yaml file:

https://github.com/Dulanic/docker-compose/blob/main/docker-compose.yml

These are my setti

[2021-08-16 15:14] Dulanic opened #36 "Add support for single line arrays"
Is it possible to avoid line brakes for specific keys? EX: I use health checks sometimes in docker compose, and it makes it look kind of messy /w it breaking out the array. I'd like to have the ability to exclode for example below... test.

EX:
`test: [ "CMD", "pg_isready", "-q", "-d", "${DB_NAME}", "-U", "${DB_USER}" ]`
becomes
[code]

[2021-08-26 00:52] MadMaxMcKinney opened #37 "Custom sort of desired keys, then resume with alphabetical sort?"
Hello, I saw that there is a custom sort option that allows me to pass in a series of keys that I want to be sorted in a specific order. That said if you only pass in a few keys it only sorts those relative to each other once they appear alphabetically.

For example, say I have this:

[code]

I want to sort this alphabetically, but only after I sort a few specific keys.

[code]

**So I want to sor

[2021-08-29 17:38] yassun4dev opened #38 "How to sort on save?"
I'm trying to sort automatically on save like this... but cannot run.

[code]

Do you know a good way to sort files on save?

[2021-08-29 17:54] pascalre commented on #38
@yassun4dev you need to register this extension as vs code formatter. Furthermore you must configure vs code to format files on save. Caution: This setting will apply for all files. To do so set
[code]

[2021-08-29 18:40] #35 closed

[2021-08-29 18:44] pascalre commented on #35
@Dulanic latest version 5.0.1 contains the fix.
If you like this extension, please consider a rating on the [marketplace](https://marketplace.visualstudio.com/items?itemName=PascalReitermann93.vscode-yaml-sort&ssr=false#review-details). This will support my work.

[2021-08-29 19:01] Dulanic commented on #35
Thanks! I will do that.

[2021-08-29 21:23] #29 closed

[2021-08-29 21:26] pascalre commented on #29
@francesco-beccaria update 5.1.0 contains this feature

[2021-08-30 12:51] yassun4dev commented on #38
@pascalre I was able to format the file on save. Thanks!

But, I cannot sort. I need formatting options, including sorting.

[2021-08-31 20:47] pascalre commented on #38
Oh sorry, I read that wrong! To sort on save I would need to add a further configuration, e. g. `sortOnSave`, and update a small part of the sorting function. I will definitely look into this in a while.

[2021-08-31 20:50] pascalre commented on #37
The custom sort algorithm is currently not implemented for lists. I will look into this in a while.

[2021-08-31 23:05] yassun4dev commented on #38
Thank you! That would help a lot.

[2021-09-15 19:41] mchelen-gov opened #39 "YAML comments are being deleted"
[code]

run `>YAML Sort: Sort YAML`

`#comment` gets deleted

[2021-09-19 15:11] pascalre commented on #39
@mchelen-gov already [mentioned](https://github.com/pascalre/vscode-yaml-sort/issues/4), the js-yaml library which is used for sorting does not keep comments when sorting.

[2021-09-19 15:11] #39 closed

[2021-10-27 14:27] akosyakov opened #40 "publish to Open VSX"
Please consider publishing to [OpenVSX registry](https://open-vsx.org).

We are running Web version of VS Code in [Gitpod](www.gitpod.io). But only MS products like VS Code may use MS VS Code extensions Marketplace. So we have to use Open VSX instead. It is a vendor neutral alternative. Also products like VSCodium, Theia, code-server and so on are using OpenVSX registry.

Docs are here: https://gi

[2021-10-27 22:39] #40 closed, assigned to nobody

[2021-10-29 20:03] johanla0 opened #41 "Merges mappings even with noCompatMode: true"
I am using Merge Key Language-Independent Type for YAML™ Version 1.1 as described [here](https://yaml.org/type/merge.html) because it's more convenient to have some keys in one place. Still, the extension inserts all the mappings where they were used with << merge key even when noCompatMode: true is set.

Is the behavior expected?

[2021-12-06 22:34] anoblet opened #42 "Add support for Home Assistant schema"
Home Assistant uses custom tags. Please support custom tags such as the following:

[code]

[2021-12-17 14:58] pascalre commented on #41
@johanla0 If the setting `noCompatMode` is set to `true` the formatter doesn't try to be compatible with older yaml versions, e. g. YAML 1.1. Since the merge key `<<` is no part of any YAML spec, it was not intended to be a feature of this formatter.
To solve your problem you could use YAML references, like
[code]

If you still miss the support for merge keys in this extension, please feel free to

[2021-12-17 14:58] #41 closed

[2021-12-17 15:08] pascalre commented on #37
@MadMaxMcKinney is this still an issue in the current version of this extension? I can not reproduce this behavior. Did you execute the `Custom sort` or the `Sort YAML` command?

[2022-01-02 19:22] #37 closed

[2022-03-15 22:43] pascalre commented on #42
@anoblet I can add a custom yaml schema with the tags used by Home Assistant. Can you provide a list of all custom tags Home Assistent currently supports? In my research I found these tags:

- `!env_var`
- `!include`
- `!include_dir_list`
- `!include_dir_merge_list`
- `!include_dir_merge_named`
- `!include_dir_*`

[2022-03-15 22:57] anoblet commented on #42
I believe these are all of the custom tags that they use:

[code]

[2022-03-16 08:50] schlomo commented on #39
For those who need YAML sorting with comments on top: Selecting the actual YAML without the comments and then sorting it works as only the selection is sent through the sorter.

Can I add a simple suggestion to @mchelen-gov and @pascalre: This extension could automatically detect the comments on top and then send only the YAML after the comments to the sorter, thereby preserving at least comments

[2022-03-16 09:05] schlomo opened #44 "emptyLinesUntilLevel doesn't work with keys containing spaces"
[code]

is the result of sorting with these settings:

[code]

When I remove the space in `Some blubtest` then it works correctly:
[code]

Using YAML Sort `v5.1.6`

[2022-03-16 22:43] pascalre commented on #42
@anoblet I just released version 5.2.0 including the fix. Please check out the version and let me know if this fits your needs. If you miss a custom tag, feel free to contribute to the [homeassistant-js-yaml-schema](https://github.com/pascalre/homeassistant-js-yaml-schema).
If you like this extension, I would really appreciate a review on the [marketplace](https://marketplace.visualstudio.com/item

[2022-03-16 22:55] pascalre commented on #42
Forgot to mention: You need to set `vscode-yaml-sort.schema` to `HOMEASSISTANT_SCHEMA` to use this feature.

[2022-03-21 22:42] #44 closed

[2022-03-21 22:52] pascalre commented on #44
@schlomo thanks for this report. I fixed this issue in version 5.2.1.

[2022-04-02 21:12] #38 closed

[2022-04-02 21:40] pascalre commented on #38
Hello @yassun4dev, I just published version 5.3.0 which will add the setting `sortOnSave`. In the [README.md](https://github.com/pascalre/vscode-yaml-sort#how-to-sort-on-save) you can read how to sort on save.

[2022-04-05 12:50] yassun4dev commented on #38
@pascalre

Thank you!!

I just applied it to my project and it worked very well.

[2022-04-07 17:28] tianmiaohu-fis opened #45 "Keep comments in the yaml file"
The tool removes all comments in the yaml file.  Please keep the comments and if possible, provide an option (sticky comment) where the comment won't be sorted and stay with the non-comment line below.

[2022-04-07 20:20] anoblet commented on #42
@pascalre I forgot one!

`!secret`

[2022-04-08 13:44] pascalre commented on #42
@anoblet update to version 5.3.1

[2022-04-11 22:12] brandonbeschta opened #47 "How to run custom sort 2 command?"

[2022-04-11 22:15] #47 closed

[2022-04-15 15:30] anoblet commented on #42
I tried using the HOMEASSISTANT_SCHEMA today, and realized that it does not format correctly:

[code]

->

[code]
`- !include bathroom/temperature.yaml` should stay on it's own line with no modifications.

[2022-04-24 09:45] johnmcfarlane opened #48 "error in Recursively sort"
When I attempt to sort my yaml file, I receive a dialog box with the following message:

Screenshot:
![image](https://user-images.githubusercontent.com/734007/164970223-dc9d86ed-443c-43e1-8c28-1c04dd6db3c0.png)

Running WSL2 Ubuntu on Windows 11.

[code]

About VS Code:

Commit: dfd34e8260c270da74b5c2d86d61aee4b6d56977
Date: 2022-04-11T07:46:01.075Z
Electron: 17.2.0
Chromium: 98.0.4758.109
Node.js

[2022-04-26 21:20] wpoch commented on #48
Same error over here with the Mac VSCode:

![image](https://user-images.githubusercontent.com/308915/165394090-c68ff034-e9d2-4661-a866-a930d7849a54.png)

[code]

[code]

Sadly I cannot share the Yaml file due to confidential reasons ¯\_(ツ)_/¯

[2022-04-28 20:36] pascalre commented on #48
@johnmcfarlane @wpoch can you please provide some more information on this issue? I can not reproduce it (working on a M1 Mac).

[code]

I need more information about the folder where you are executing recursive sort:
- Does it contain subfolders?
- Does it contain multiple yaml files?
- What are the extensions of the yaml files?
- Please provide a sample folder which causes the error.

And btw: T

[2022-04-28 23:11] johnmcfarlane commented on #48
* Does it contain subfolders?
Yes

* Does it contain multiple yaml files?
Yes, but not with a .yml/.yaml extension

* What are the extensions of the yaml files?
Filename is .clang-tidy

* Please provide a sample folder which causes the error.
.clang-tidy in [this folder](https://github.com/johnmcfarlane/wss/) is what I was trying to apply this to.

[2022-05-10 17:28] nburkecogito commented on #45
I came to report this -- This is, imho, a pretty big issue for us YAML engineers, I would rather have helpful comments than sorted YAML.

[2022-05-24 12:38] MartinGolding515 opened #51 "Support for sorting arrays / array of objects"
Please add support for sorting arrays and arrays of objects.

As per the example animations, it does not sort pascal, python and perl.

[2022-06-01 00:20] ehawman-rosenberg opened #53 "Sorting an arbitrary section (with leading spaces)"
<details>
  <summary>YAML to be sorted</summary>

[code]
</details>

Let's say I wanted to sort from Line 46 `- type: angular` to Line 150 `template: "  {{ if .Error }}{{ .Error }}{{ else }}{{ .Full }}{{ end }} "`. This is a subset of a list. I select my text, summon vscode-yaml-sort, and...
[code]
[code]

I have to shift-tab them back over to the left so they're valid YAML before running vscode-

[2022-06-28 07:38] reneweteling opened #55 "yaml sort executes all blocks and merges making DRY inpossible"
on sort, all merge blocks are executed: https://yaml.org/type/merge.html

## Before sort

[code]

## After sort
[code]

So the block is gone, and the values are being inserted, this makes the yml sort unusable in big dry yml files.

[2022-07-11 21:36] bslpzk commented on #45
The add-on is great, I use it every day - many thanks to Pascal. But the giant problem is the comments, or rather the absence of them after sorting. Many people work on the code and these comments are crucial.
If it were possible to link a comment to the line below it or to the line at the top, and after sorting, it would help a lot.
The same thing could be done with comments at the end of lines -

[2022-07-24 23:54] gutenye opened #62 "sort removed block/folded string style"
Sort this file

[code]

Result into

[code]

Exepcted

[code]

Is there a way to keep `|-`? [yq](https://github.com/mikefarah/yq) works fine

[2022-08-30 19:17] longkai opened #65 "No need to send notification when used as a formatter"
I found the extension will notify when sort, validate, and format.

As other language's default formatters, when something is done successfully, there is no notification except bad things happened.

This is make sense for such a tool.

[2022-09-01 16:54] rgeraskin opened #66 "keep multiline strings on sort"
I use multiline strings to meet linter line length requirements for my team. But after the sort my multiline string becomes the single line string and I have to split it again.

[2022-09-01 17:03] rgeraskin commented on #66
My bad, there is `lineWidth` option for the case

[2022-09-01 17:03] #66 closed

[2022-09-19 20:56] renovate[bot] opened #72 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update actions/setup-node action to v3
 - [ ] chore(deps): update github/codeql-action action to

[2022-09-26 14:41] pascalre commented on #45
I added this feature to version 5.4.2. Please try if it fits your need. If you like this extension, I would really appreciate a good review on the [marketplace](https://marketplace.visualstudio.com/items?itemName=PascalReitermann93.vscode-yaml-sort&ssr=false#review-details).

[2022-09-29 20:00] #65 closed

[2022-09-29 20:08] pascalre commented on #65
@longkai issue is solved in version 5.5.0. If you like this extension, I would be really grateful if you leave a positive review on the [marketplace](https://marketplace.visualstudio.com/items?itemName=PascalReitermann93.vscode-yaml-sort&ssr=false#review-details)

[2022-10-02 22:24] pascalre opened #85 "Is custom sort on save planned?"
### Discussed in https://github.com/pascalre/vscode-yaml-sort/discussions/50

<div type='discussions-op-text'>

<sup>Originally posted by **RadtkeJakub** May 24, 2022</sup>
As in topic, do you plan to add custom sorting on save?</div>

[2022-10-04 13:29] #85 closed

[2022-10-31 20:34] pascalre opened #98 "Refactor project"

[2022-11-11 17:35] Gregory108 opened #100 "Add mecanics that sorts `YAML` blocks of defined level"
Hello!
Not sure it is easily possible. As far as I understand, currently the plugin sorts keys inside the last leaves of the `yaml` "tree" alphabetically or along with custom order.

I do not want to change insides of the keys. But I do want to sort alphabetically by the values of the keys of a certain level. E.g. I want convent this:
[code]
Into this:
[code]
Without sorting `name` <-> `descriptio

[2022-11-14 11:40] j3p0uk commented on #51
As https://www.npmjs.com/package/yaml-sort-with-arrays shows a simple function that could be used to implement this as an additional function call in `function dumpYaml`.

[2022-11-28 14:03] tianmiaohu-fis commented on #45
There are still issues with comments.  Try the below yaml content.  The second comment disappears after sorting.
#begin comment
params:
  logon: test
  #variable meta data
  variableMetadata: env\config_dev.yaml
  logFile: log-test.log
  logLevel: DEBUG
  chunkSize: 1000
  jobSize: 20
  schema: test
  #end comment